body {
  margin: 0;
  padding: 0;

  font-family: $font-main;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;

  background-color: $clr-bg-normal;
  color: $clr-text-normal;
  overflow-x: hidden;

  &.is-hidden {
    overflow: hidden;
  }
}
