.about {
  padding-top: 125px;

  @media screen and (min-width: 768px) {
    padding-top: 130px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 125px;
  }
}
.container-milk {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/milk-drops/milk-drops-mob-1x.png);
  background-repeat: no-repeat;
  background-position: top 610px left 0;
  background-size: 100% auto;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/milk-drops/milk-drops-mob-2x.png);
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    background-position: top 200px left 0;
    background-image: url(../images/milk-drops/milk-drops-tab-1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/milk-drops/milk-drops-tab-2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-top: 217px;
    background-position: top 430px left 0;
    background-image: url(../images/milk-drops/milk-drops-desktop-1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/milk-drops/milk-drops-desktop-2x.png);
    }
  }
}

.about__title {
  text-align: center;
  margin-bottom: 26px;

  @media screen and (min-width: 768px) {
  letter-spacing: $letter-spacing;
  margin-bottom: 50px;
  }
  @media screen and (min-width: 1280px) {
    letter-spacing: 0.06em;

    margin-bottom: 55px;
  }
}

.img-cow {
  max-width: 280px;
  @media screen and (min-width: 768px) {
    max-width: 340px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 516px;
  }
}

.about__box {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.about__box-inner {
  margin-left: auto;

  @media screen and (min-width: 768px) {
    max-width: 340px;
    padding-top: 39px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 463px;
    padding-top: 47px;
  }
}

.about__subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;

  margin-bottom: 35px;
  color: $clr-text-darker;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: $letter-spacing;
  }
}

.about__text-description {
  font-weight: 500;
  line-height: 1.93;
  letter-spacing: $letter-spacing;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 25px;

    @media screen and (min-width: 1280px) {
      margin-bottom: 36px;
    }
  }
}

.about__text-description-below {
  margin-bottom: 45px;
}

.button__svg {
  margin-left: 16px;
}

.button__about:hover {
  color: #D41443;
    background-color: #ECEBEB;
  }

.modal__about {
  transition-duration: 500ms;
}

.modal__about-title {
  font-family: $font-secondary;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: $letter-spacing;
  text-align: center;

  margin-bottom: 15px;
  color: $clr-brand-darker;
}

.modal__about-subtitle {
  color: $clr-text-darker;
  font-weight: 600;
  margin-bottom: 10px;
}

.modal__about-text {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px){
    &:not(:last-child) {
    margin-bottom: 20px;
    }
  }
}