.advantages__list {
  display: flex;

  @media screen and (min-width: 0px) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    justify-content: center;
  }
}

.advantage {
  position: relative;

  @media screen and (min-width: 0px) and (max-width: 767px) {
    padding-top: 105px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 152px;
    width: calc((100% - 180px) / 3);
    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  @media screen and (min-width: 1280px) {
    padding-top: 129px;
    width: calc((100% - 90px) / 3);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.advantage:nth-child(1)::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(../images/advantages-images/1advantage.png);
  background-repeat: no-repeat;
  background-size: 33px 50px;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/advantages-images/1advantage@2x.png);
  }

  @media screen and (min-width: 0px) and (max-width: 767px) {
    top: 39px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    top: 66px;
  }

  @media screen and (min-width: 1280px) {
    top: 39px;
  }
}

.advantage:nth-child(2)::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(../images/advantages-images/2advantage.png);
  background-repeat: no-repeat;
  background-size: 50px 50px;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/advantages-images/2advantage@2x.png);
  }

  @media screen and (min-width: 0px) and (max-width: 767px) {
    top: 39px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    top: 66px;
  }

  @media screen and (min-width: 1280px) {
    top: 39px;
  }
}

.advantage:nth-child(3)::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(../images/advantages-images/3advantage.png);
  background-repeat: no-repeat;
  background-size: 44px 50px;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/advantages-images/3advantage@2x.png);
  }

  @media screen and (min-width: 0px) and (max-width: 767px) {
    top: 39px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    top: 66px;
  }

  @media screen and (min-width: 1280px) {
    top: 39px;
  }
}

.advantage__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: normal;
  color: $clr-accent;

  margin-bottom: 15px;

  @media screen and (min-width: 0px) and (max-width: 767px) {
    font-size: 36px;
    line-height: 41px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 48px;
    line-height: 55px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 66px;
  }
}

.advantage__description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.02em;
  color: black;

  @media screen and (min-width: 0px) and (max-width: 767px) {
    font-size: 12px;
    line-height: 170%;
    width: 230px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 14px;
    line-height: 174%;
    width: 100%;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 176%;
  }
}
