.gallery {
  background-image: linear-gradient(
    to bottom,
    $clr-bg-normal 40%,
    $clr-bg-the-lightest 40%,
    $clr-bg-the-lightest 1000%
  );
}

.image__gallery--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.grid {
  &__thumb {
    border-radius: 20px;
    overflow: hidden;

    &--is-hovered {
      animation: tada;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
  }
}
