.gallery {
  padding-top: 139px;
  background-image: linear-gradient(
    to bottom,
    $clr-bg-normal 50%,
    $clr-bg-the-lightest 50%,
    $clr-bg-the-lightest 100%
  );
}

.grid {
  &__thumb {
    border-radius: 20px;
    overflow: hidden;

    &--is-hovered {
      animation: swing;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      z-index: 10;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.sizer {
  width: calc((100% - 7 * 5px) / 7);
}

.sizer-2x {
  width: calc((100% - 7 * 5px) / 7 * 2);
}
