//=====стили секции produducts===///
.product-section {
  background-color: $clr-bg-the-lightest;
}
.product-box {
  padding-top: 121px;
  padding-bottom: 98px;

  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}
///=====секция заголовок=====///
.title-products {
  margin-bottom: 141px;
  @media screen and (min-width: 768px) {
    margin-bottom: 150px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 300px;
  }
}
///=====карточки продуктов===///
.product-list {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: -20px;
    margin-left: -20px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: -24px;
    margin-left: -24px;
  }
}
.product-list__ithem {
  border-radius: 24px;

  @media screen and (max-width: 767px) {
    padding: 161px 40px 40px 40px;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 130px;
    }
  }
  @media screen and (min-width: 768px) {
    margin-top: 20px;
    margin-left: 20px;
    padding: 152px 11px 40px 11px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 24px;
    margin-left: 24px;
    padding: 158px 44px 50px 44px;
  }
}
.product-list__ithem--pink {
  background-color: $clr-brand;
}
.product-list__ithem--peach {
  background-color: #f0d1a5;
}
.product-list__ithem--green {
  background-color: #c2e297;
}
///======оформление карточек====///
.product-list__box {
  text-align: center;
}
.product-list__title {
  position: relative;
  margin-bottom: 66px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 70px;
  }
  font-style: normal;
  font-weight: normal;

  font-family: $font-secondary;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $clr-bg-lighter;
}
///=====оформление товара(псевдоэлементы)====///
.product-list__title::after {
  content: '';
  position: absolute;
  width: 26px;
  height: 6px;
  background-image: url(../images/img-for-product/points.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: 250%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-list__description {
  margin-bottom: 30px;
  text-align: center;
  font-family: $font-main;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: $line-height;

  letter-spacing: 0.04em;

  color: $clr-bg-lighter;
  @media screen and (min-width: 768px) {
    line-height: 1.76;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 62px;
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .descript-hidden {
    display: none;
  }
}
.product-button {
  display: inline-flex;
  height: 40px;
  width: 40px;
  border-color: transparent;
  border-radius: 50%;
}
