<section class="about">
    <div class="container-milk">
        <div class="container">
            <p class="about__text-generalized">TRADITION AND LOVE</p>
            <h2 class="about__title">HOW IT'S MADE?</h2>

            <img src="images/pitcher-and-cow/pitcher-and-cow-desktop-x1.png" alt="cow and pitcher with milk" width="516" height="516">

            <p class="about__subtitle">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
            <p class="about__text-description">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.


                    Aliquam erat volutpat. Aenean accumsan.</p>
            <button type="button" class="button about__button">Read more</button>
        </div>
    </div>
</section>

<!-- <picture>
                <source
                srcset="
                    images/pitcher-and-cow/pitcher-and-cow-desktop-x1.png 1x,
                    images/pitcher-and-cow/pitcher-and-cow-desktop-x2.png 2x,
                        "
                        media="(min-width:1200px)"
                        />

                <source
                srcset="
                    images/pitcher-and-cow/pitcher-and-cow-tab-x1.png 1x,
                    images/pitcher-and-cow/pitcher-and-cow-tab-x2.png 2x,
                        "
                        media="(min-width:768px)"
                    />

                <source
                srcset="
                    images/pitcher-and-cow/pitcher-and-cow-mob-x1.png 1x,
                    images/pitcher-and-cow/pitcher-and-cow-mob-x2.png 2x,
                        "
                        media="(min-width:768px)"
                />

                <img src="images/pitcher-and-cow/pitcher-and-cow-desktop-x1.png" alt="A transparent pitcher of milk in front of black and white cow and motto 'bio eco'" width="516" height="516">
        
            </picture> -->