<section class="restaurants">
  <div class="container">
    <h2 class="restaurants__header">Our contacts</h2>
    <ul class="restaurants__list">
      <li class="restaurants__card">
        <p class="restaurants__type">CAFE</p>
        <h3 class="restaurants__place">Chicago</h3>
        <p class="restaurants__about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="restaurants__working">
          <li class="restaurants__working-item">
            <p class="restaurants__working-weekdays">Monday - Friday</p>
            <p class="restaurants__working-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="restaurants__working-item">
            <p class="restaurants__working-weekdays">Saturday - Sunday</p>
            <p class="restaurants__working-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="restaurants__contacts">
          <li class="restaurants__contacts--item">
            <a href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="restaurants__contacts--item">
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="restaurants__card">
        <p class="restaurants__type">FOODTRUCK</p>
        <h3 class="restaurants__place">Los Angeles</h3>
        <p class="restaurants__about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="restaurants__working">
          <li class="restaurants__working-item">
            <p class="restaurants__working-weekdays">Monday - Friday</p>
            <p class="restaurants__working-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="restaurants__working-item">
            <p class="restaurants__working-weekdays">Saturday - Sunday</p>
            <p class="restaurants__working-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="restaurants__contacts">
          <li class="restaurants__contacts-item">
            <a href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="restaurants__contacts-item">
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="restaurants__card">
        <p class="restaurants__type">CAFE</p>
        <h3 class="restaurants__place">New York</h3>
        <p class="restaurants__about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="restaurants__working">
          <li class="restaurants__working-item">
            <p class="restaurants__working-weekdays">Monday - Friday</p>
            <p class="restaurants__working-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="restaurants__working-item">
            <p class="restaurants__working-weekdays">Saturday - Sunday</p>
            <p class="restaurants__working-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="restaurants__contacts">
          <li class="restaurants__contacts-item">
            <a href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="restaurants__contacts-item">
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="restaurants__buttons">
      <li class="restaurans__button">Our Locations</li>
      <li class="restaurans__button">Franchise</li>
    </ul>
  </div>
</section>
