<section class="slick">
  <h2 class="slick__title">Customer reviews</h2>
  <ul class="slick__slider">
    <li class="slick__item">
      <img
        class="slick__image"
        srcset="/images/1customer.jpg 1x, /images/1customer@2x.jpg 2x"
        src="/images/1customer.jpg"
        alt="First customer photo"
        width="85px"
        height="85px"
      />
      <p class="slick__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
      <span class="slick__label">Emily, Los Angeles</span>
    </li>
    <li class="slick__item">
      <img
        class="slick__image"
        srcset="/images/2customer.jpg 1x, /images/2customer@2x.jpg 2x"
        src="/images/2customer.jpg"
        alt="First customer photo"
        width="85px"
        height="85px"
      />
      <p class="slick__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
      <span class="slick__label">Leslie, Chicago</span>
    </li>
    <li class="slick__item">
      <img
        class="slick__image"
        srcset="/images/3customer.jpg 1x, /images/3customer@2x.jpg 2x"
        src="/images/3customer.jpg"
        alt="First customer photo"
        width="85px"
        height="85px"
      />
      <p class="slick__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
      <span class="slick__label">Monica, New York</span>
    </li>
  </ul>
</section>
