<footer class="footer">
    <div class="container container--footer">
        <div class="footer__text">
            <p class="ice">
                homemade ice cream made
            </p>
            <p class="passion">
                with passion
            </p>
        </div>
        <div class="pc-tablet">
            <div class="social-media">
                <ul class="social-list">
                    <li class="social-list__item">
                        <a href="https://github.com" target="_blank" class="social-list__link" aria-label="github">
                            <svg class="social-list__icon">
                                <use href="images/icons.svg#github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="https://web.telegram.org" target="_blank" class="social-list__link" aria-label="telegram">
                            <svg class="social-list__icon">
                                <use href="images/icons.svg#telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="https://facebook.com" target="_blank" class="social-list__link" aria-label="facebook">
                            <svg class="social-list__icon">
                                <use href="images/icons.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            
            </div>
            <address class="footer-contact">
                <b class="footer-contact__text">Feel free to contact</b>
                <a class="footer-contact__text footer-contact__text--tel" href="tel:+610383766284">
                    +61 (0) 383 766 284
                </a>
            </address>
        </div>
    </div>
    <div class="footer-copyright">
        <small class="footer-copyright__text">
            &#169; 2019 - IceCream.
            All Rights Reserved.
        </small>
    </div>
</footer>