<footer class="footer">
    <div class="container">
        <div class="footer__text">
            <p class="ice">
                homemade ice cream made
            </p>
            <p class="passion">
                with passion
            </p>
        </div>
        <div class="social-media">
            <ul class="social-list">
                <li class="social-list__item">
                    <a href="https://github.com" class="social-list__link"> 
                        <svg class="social-list__icon" width="34" height="34" > <use href="images/icons.svg#github" ></use> </svg> 
                    </a>
                </li>
                <li class="social-list__item">
                    <a href="https://web.telegram.org" class="social-list__link"> 
                        <svg class="social-list__icon" width="34" height="34" > <use href="images/icons.svg#telegram" ></use> </svg> 
                    </a>
                </li>
                <li class="social-list__item">
                    <a href="https://facebook.com" class="social-list__link"> 
                        <svg class="social-list__icon" width="34" height="34" > <use href="images/icons.svg#facebook" ></use> </svg> 
                    </a>
                </li>
            </ul>

        </div>
        <div class="footer-contact">
            <a class="footer-contact__text" href="tel:+610383766284">
                Feel free to contact  
                <span class="footer-contact__tel">
                    +61 (0) 383 766 284
                </span>
            </a>
        </div>
    </div>
    <div class="footer-copyright">
        <small class="footer-copyright__text">
            &#169; 2019 - IceCream.
            All Rights Reserved.
        </small>
    </div>
</footer>