<footer class="footer">
    <div class="conteiner">
        <p class="footer__text">
            <span class="ice">
                homemade ice cream made
            </span>
            <span class="passion">
                with passion
            </span>
        </p>
        <div class="social-media">
            <ul class="social-list">
                <li class="social-list__item">
                    <a href="#" class="social-list__link"> 
                        <svg class="social-list__icon" > <use href="images/icons.svg#github" ></use> </svg> 
                    </a>
                </li>
                <li class="social-list__item">
                    <a href="#" class="social-list__link"> 
                        <svg class="social-list__icon" > <use href="images/icons.svg#telegram" ></use> </svg> 
                    </a>
                </li>
                <li class="social-list__item">
                    <a href="#" class="social-list__link"> 
                        <svg class="social-list__icon" > <use href="images/icons.svg#facebook" ></use> </svg> 
                    </a>
                </li>
            </ul>

        </div>
        <div class="footer-contact">
            <a class="footer-contact__text" href="tel:+610383766284">
                Feel free to contact  
                <span class="footer-contact__tel">
                    +61 (0) 383 766 284
                </span>
            </a>
        </div>
    </div>
    <div class="footer-copyright">
        <p class="footer-copyright__text">
            &copy 2019 - IceCream.
            All Rights Reserved.
        </p>
    </div>
</footer>