<h2 class="image__gallery--visually-hidden">Gallery</h2>
<div class="gallery container" id="gallery">
  <div class="grid__thumb sizer">
    <img
      class="grid__image"
      srcset="images/gallery-images/photo-1.jpg 1x, images/gallery-images/photo-1@2x.jpg 2x"
      src="images/gallery-images/photo-1.jpg"
      alt="ice-cream-1"
    />
  </div>

  <div class="grid__thumb sizer">
    <img
      class="grid__image"
      srcset="images/gallery-images/photo-2.jpg 1x, images/gallery-images/photo-2@2x.jpg 2x"
      src="images/gallery-images/photo-2.jpg"
      alt="ice-cream-2"
    />
  </div>

  <div class="grid__thumb sizer">
    <img
      class="grid__image"
      srcset="images/gallery-images/photo-3.jpg 1x, images/gallery-images/photo-3@2x.jpg 2x"
      src="images/gallery-images/photo-3.jpg"
      alt="ice-cream-3"
    />
  </div>

  <div class="grid__thumb sizer-2x">
    <img
      class="grid__image"
      srcset="images/gallery-images/photo-4.jpg 1x, images/gallery-images/photo-4@2x.jpg 2x"
      src="images/gallery-images/photo-4.jpg"
      alt="ice-cream-4"
    />
  </div>

  <div class="grid__thumb sizer">
    <img
      class="grid__image"
      srcset="images/gallery-images/photo-5.jpg 1x, images/gallery-images/photo-5@2x.jpg 2x"
      src="images/gallery-images/photo-5.jpg"
      alt="ice-cream-5"
    />
  </div>

  <div class="grid__thumb sizer">
    <img
      class="grid__image"
      srcset="images/gallery-images/photo-6.jpg 1x, images/gallery-images/photo-6@2x.jpg 2x"
      src="images/gallery-images/photo-6.jpg"
      alt="ice-cream-6"
    />
  </div>

  <div class="grid__thumb sizer">
    <img
      class="grid__image"
      srcset="images/gallery-images/photo-7.jpg 1x, images/gallery-images/photo-7@2x.jpg 2x"
      src="images/gallery-images/photo-7.jpg"
      alt="ice-cream-7"
    />
  </div>

  <div class="grid__thumb sizer">
    <img
      class="grid__image"
      srcset="images/gallery-images/photo-8.jpg 1x, images/gallery-images/photo-8@2x.jpg 2x"
      src="images/gallery-images/photo-8.jpg"
      alt="ice-cream-8"
    />
  </div>

  <div class="grid__thumb sizer">
    <img
      class="grid__image"
      srcset="images/gallery-images/photo-9.jpg 1x, images/gallery-images/photo-9@2x.jpg 2x"
      src="images/gallery-images/photo-9.jpg"
      alt="ice-cream-9"
    />
  </div>

  <div class="grid__thumb sizer">
    <img
      class="grid__image"
      srcset="images/gallery-images/photo-10.jpg 1x, images/gallery-images/photo-10@2x.jpg 2x"
      src="images/gallery-images/photo-10.jpg"
      alt="ice-cream-10"
    />
  </div>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"
  integrity="sha512-JRlcvSZAXT8+5SQQAvklXGJuxXTouyq8oIMaYERZQasB8SBDHZaUbeASsJWpk0UUrf89DP3/aefPPrlMR1h1yQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
