<!-- =================Gallery section==================== -->

<section class="gallery section">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="grid" id="gallery">
      <div class="grid__thumb thumb-1 sizer">
        <img
          class="grid__image"
          srcset="
            images/gallery-images/photo-1.webp    1x,
            images/gallery-images/photo-1.jpg     1x,
            images/gallery-images/photo-1@2x.webp 2x,
            images/gallery-images/photo-1@2x.jpg  2x
          "
          src="images/gallery-images/photo-1.jpg"
          alt="ice-cream-1"
        />
      </div>

      <div class="grid__thumb thumb-2 sizer">
        <img
          class="grid__image"
          srcset="
            images/gallery-images/photo-2.webp    1x,
            images/gallery-images/photo-2.jpg     1x,
            images/gallery-images/photo-2@2x.webp 2x,
            images/gallery-images/photo-2@2x.jpg  2x
          "
          src="images/gallery-images/photo-2.jpg"
          alt="ice-cream-2"
        />
      </div>

      <div class="grid__thumb thumb-3 sizer">
        <img
          class="grid__image"
          srcset="
            images/gallery-images/photo-3.webp    1x,
            images/gallery-images/photo-3.jpg     1x,
            images/gallery-images/photo-3@2x.webp 2x,
            images/gallery-images/photo-3@2x.jpg  2x
          "
          src="images/gallery-images/photo-3.jpg"
          alt="ice-cream-3"
        />
      </div>

      <div class="grid__thumb thumb-4 sizer-2x">
        <img
          class="grid__image"
          srcset="
            images/gallery-images/photo-4.webp    1x,
            images/gallery-images/photo-4.jpg     1x,
            images/gallery-images/photo-4@2x.webp 2x,
            images/gallery-images/photo-4@2x.jpg  2x
          "
          src="images/gallery-images/photo-4.jpg"
          alt="ice-cream-4"
        />
      </div>

      <div class="grid__thumb thumb-5 sizer">
        <img
          class="grid__image"
          srcset="
            images/gallery-images/photo-5.webp    1x,
            images/gallery-images/photo-5.jpg     1x,
            images/gallery-images/photo-5@2x.webp 2x,
            images/gallery-images/photo-5@2x.jpg  2x
          "
          src="images/gallery-images/photo-5.jpg"
          alt="ice-cream-5"
        />
      </div>

      <div class="grid__thumb thumb-6 sizer">
        <img
          class="grid__image"
          srcset="
            images/gallery-images/photo-6.webp    1x,
            images/gallery-images/photo-6.jpg     1x,
            images/gallery-images/photo-6@2x.webp 2x,
            images/gallery-images/photo-6@2x.jpg  2x
          "
          src="images/gallery-images/photo-6.jpg"
          alt="ice-cream-6"
        />
      </div>

      <div class="grid__thumb thumb-7 sizer">
        <img
          class="grid__image"
          srcset="
            images/gallery-images/photo-7.webp    1x,
            images/gallery-images/photo-7.jpg     1x,
            images/gallery-images/photo-7@2x.webp 2x,
            images/gallery-images/photo-7@2x.jpg  2x
          "
          src="images/gallery-images/photo-7.jpg"
          alt="ice-cream-7"
        />
      </div>

      <div class="grid__thumb thumb-8 sizer">
        <img
          class="grid__image"
          srcset="
            images/gallery-images/photo-8.webp    1x,
            images/gallery-images/photo-8.jpg     1x,
            images/gallery-images/photo-8@2x.webp 2x,
            images/gallery-images/photo-8@2x.jpg  2x
          "
          src="images/gallery-images/photo-8.jpg"
          alt="ice-cream-8"
        />
      </div>

      <div class="grid__thumb thumb-9 sizer">
        <img
          class="grid__image"
          srcset="
            images/gallery-images/photo-9.webp    1x,
            images/gallery-images/photo-9.jpg     1x,
            images/gallery-images/photo-9@2x.webp 2x,
            images/gallery-images/photo-9@2x.jpg  2x
          "
          src="images/gallery-images/photo-9.jpg"
          alt="ice-cream-9"
        />
      </div>

      <div class="grid__thumb thumb-10 sizer">
        <img
          class="grid__image"
          srcset="
            images/gallery-images/photo-10.webp    1x,
            images/gallery-images/photo-10.jpg     1x,
            images/gallery-images/photo-10@2x.webp 2x,
            images/gallery-images/photo-10@2x.jpg  2x
          "
          src="images/gallery-images/photo-10.jpg"
          alt="ice-cream-10"
        />
      </div>

      <div class="grid__thumb thumb-11 sizer">
        <img
          class="grid__image"
          srcset="
            images/gallery-images/photo-11.webp    1x,
            images/gallery-images/photo-11.jpg     1x,
            images/gallery-images/photo-11@2x.webp 2x,
            images/gallery-images/photo-11@2x.jpg  2x
          "
          src="images/gallery-images/photo-11.jpg"
          alt="ice-cream-11"
        />
      </div>
    </div>
  </div>
</section>
