<div class="image container">
  <h2 class="image__gallery--visually-hidden">Gallery</h2>
  <ul class="grid">
    <li class="grid__element-1">
      <div class="grid__thumb">
        <img
          class="grid__image"
          srcset="images/gallery-images/photo-1.jpg 1x, images/gallery-images/photo-1@2x.jpg 2x"
          src="images/gallery-images/photo-1.jpg"
          alt="ice-cream-1"
        />
      </div>
    </li>
    <li class="grid__element-2">
      <div class="grid__thumb">
        <img
          class="grid__image"
          srcset="images/gallery-images/photo-2.jpg 1x, images/gallery-images/photo-2@2x.jpg 2x"
          src="images/gallery-images/photo-2.jpg"
          alt="ice-cream-2"
        />
      </div>
    </li>
    <li class="grid__element-3">
      <div class="grid__thumb">
        <img
          class="grid__image"
          srcset="images/gallery-images/photo-3.jpg 1x, images/gallery-images/photo-3@2x.jpg 2x"
          src="images/gallery-images/photo-3.jpg"
          alt="ice-cream-3"
        />
      </div>
    </li>
    <li class="grid__element-4">
      <div class="grid__thumb">
        <img
          class="grid__image"
          srcset="images/gallery-images/photo-4.jpg 1x, images/gallery-images/photo-4@2x.jpg 2x"
          src="images/gallery-images/photo-4.jpg"
          alt="ice-cream-4"
        />
      </div>
    </li>
    <li class="grid__element-5">
      <div class="grid__thumb">
        <img
          class="grid__image"
          srcset="images/gallery-images/photo-5.jpg 1x, images/gallery-images/photo-5@2x.jpg 2x"
          src="images/gallery-images/photo-5.jpg"
          alt="ice-cream-5"
        />
      </div>
    </li>
    <li class="grid__element-6">
      <div class="grid__thumb">
        <img
          class="grid__image"
          srcset="images/gallery-images/photo-6.jpg 1x, images/gallery-images/photo-6@2x.jpg 2x"
          src="images/gallery-images/photo-6.jpg"
          alt="ice-cream-6"
        />
      </div>
    </li>
    <li class="grid__element-7">
      <div class="grid__thumb">
        <img
          class="grid__image"
          srcset="images/gallery-images/photo-7.jpg 1x, images/gallery-images/photo-7@2x.jpg 2x"
          src="images/gallery-images/photo-7.jpg"
          alt="ice-cream-7"
        />
      </div>
    </li>
    <li class="grid__element-8">
      <div class="grid__thumb">
        <img
          class="grid__image"
          srcset="images/gallery-images/photo-8.jpg 1x, images/gallery-images/photo-8@2x.jpg 2x"
          src="images/gallery-images/photo-8.jpg"
          alt="ice-cream-8"
        />
      </div>
    </li>
    <li class="grid__element-9">
      <div class="grid__thumb">
        <img
          class="grid__image"
          srcset="images/gallery-images/photo-9.jpg 1x, images/gallery-images/photo-9@2x.jpg 2x"
          src="images/gallery-images/photo-9.jpg"
          alt="ice-cream-9"
        />
      </div>
    </li>
    <li class="grid__element-10">
      <div class="grid__thumb">
        <img
          class="grid__image"
          srcset="images/gallery-images/photo-10.jpg 1x, images/gallery-images/photo-10@2x.jpg 2x"
          src="images/gallery-images/photo-10.jpg"
          alt="ice-cream-10"
        />
      </div>
    </li>
  </ul>
</div>
