<header>
    <!-- Див общий для позиционирования контента -->
        <div class="container">
            <!-- Общая навигация по сайту -->
            <nav class="nav">
                <!-- логотип -->
                <a class="logo" href="#">
                    <img src="images/logo.png" alt="Логотип компании iceCream">
                </a>
                <!-- кнопки мобильного меню -->
                <button type="button" class="menu-button">
                    <svg width="20" height="14">
                        <use href="images/icons.svg#burger"></use>
                    </svg>
                    <svg width="14" height="14">
                        <use href="images/icons.svg#close"></use>
                    </svg>
                </button>
                <!-- контейнер мобильного меню -->
                <div class="menu-container">
                    <nav class="nav-header">
                        <!-- Навигация страниц -->
                        <ul class="nav-header__list">
                            <li class="nav-header__item">
                                <a class="nav-header__link" href="#">Home</a>
                            </li>
                            <li class="nav-header__item">
                                <a href="#">About us</a>
                            </li>
                            <li class="nav-header__item">
                                <a class="nav-header__link" href="#">How it’s made?</a>
                            </li>
                            <li class="nav-header__item">
                                <a class="nav-header__link" href="#">Our products</a>
                            </li>
                            <li class="nav-header__item">
                                <a class="nav-header__link" href="#">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- Кнопка навигации -->
                    <button class="header-button" type="button">Buy now
                        <!-- стрелка в кнопке -->
                        <svg width="4" height="8">
                            <use href="images/icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>
            </nav>
        </div> 
    </header>
    <main>
        <div class="container hero">
            <h1 class="hero__title">ice cream made with passion</h1>
            <ul class="hero__list">
                <li class="hero__item">
                    <a class="hero__link" href="#">Products</a>
                </li>
                <li class="hero__item">
                    <a class="hero__link" href="#">How it’s made?</a>
                </li>
            </ul>
            <div>
                <!-- Добавляю фото молока с учетом адаптивности и качесвта для ретины -->
            <picture>
                <source srcset="" media="" sizes="" type="images/png">
                <source srcset="" media="" sizes="" type="images/png">
                <source srcset="" media="" sizes="" type="images/png">
                <img src="images/table/milk.png" alt="кувшин с молоком">
            </picture>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <svg width="26" height="26">
                <use href="images/icons.svg#arrow-right"></use>
            </svg>
        </div>
        <div>
             <!-- Добавляю фото мороженного с учетом адаптивности и качества для ретины -->
            <picture>
                <source srcset="" media="" sizes="" type="images/png">
                <source srcset="" media="" sizes="" type="images/png">
                <source srcset="" media="" sizes="" type="images/png">
                <img src="images/mobile/iceCream.png" alt="Красочное мороженное в вафельном рожке">
            </picture>
        </div>
        <ul class="establishments">
            <li>
                <b>16</b>
                <p>cafes</p>
            </li>
            <li>
                <b>23</b>
                <p>food trucks</p>
            </li>
        </ul>
        <!-- второй вариант establishments-->
        <!-- <div>
            <b>16</b>
            <p>cafes</p>
        </div>
        <div>
            <b>23</b>
            <p>food trucks</p>
        </div> -->
        <div>
             <!-- Добавляю фото tasty с учетом адаптивности и качества для ретины -->
            <picture>
                <source srcset="" media="" sizes="" type="images/png">
                <source srcset="" media="" sizes="" type="images/png">
                <source srcset="" media="" sizes="" type="images/png">
                <img src="images/table/tasty.png" alt="Девушка ест мороженное в рожке">
            </picture>
        </div>
        </div>
        
    </main>