<section class="locations">
  <div class="locations__container">
    <div class="container">
      <h2 class="locations__header visually-hidden">Locations</h2>
      <ul class="locations__list" id="locations">
        <li class="locations__card">
          <p class="locations__type locations__type--cafe">CAFE</p>
          <h3 class="locations__place">Chicago</h3>
          <p class="locations__about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <ul class="locations__working">
            <li class="locations__working-item">
              <p class="locations__working-weekdays">Monday - Friday</p>
              <p class="locations__working-time">
                <time datetime="06:00">06:00 AM</time> -
                <time datetime="22:00">10:00 PM</time>
              </p>
            </li>
            <li class="locations__working-item">
              <p class="locations__working-weekdays">Saturday - Sunday</p>
              <p class="locations__working-time">
                <time datetime="08:00">08:00 AM</time> -
                <time datetime="16:00">04:00 PM</time>
              </p>
            </li>
          </ul>
          <ul class="locations__contacts">
            <li>
              <a class="locations__contacts-item" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li>
              <a class="locations__contacts-item" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="locations__card">
          <p class="locations__type locations__type--foodtruck">FOODTRUCK</p>
          <h3 class="locations__place">Los Angeles</h3>
          <p class="locations__about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <ul class="locations__working">
            <li class="locations__working-item">
              <p class="locations__working-weekdays">Monday - Friday</p>
              <p class="locations__working-time">
                <time datetime="06:00">06:00 AM</time> -
                <time datetime="22:00">10:00 PM</time>
              </p>
            </li>
            <li class="locations__working-item">
              <p class="locations__working-weekdays">Saturday - Sunday</p>
              <p class="locations__working-time">
                <time datetime="08:00">08:00 AM</time> -
                <time datetime="16:00">04:00 PM</time>
              </p>
            </li>
          </ul>
          <ul class="locations__contacts">
            <li>
              <a class="locations__contacts-item" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li>
              <a class="locations__contacts-item" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="locations__card">
          <p class="locations__type locations__type--cafe">CAFE</p>
          <h3 class="locations__place">New York</h3>
          <p class="locations__about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <ul class="locations__working">
            <li class="locations__working-item">
              <p class="locations__working-weekdays">Monday - Friday</p>
              <p class="locations__working-time">
                <time datetime="06:00">06:00 AM</time> -
                <time datetime="22:00">10:00 PM</time>
              </p>
            </li>
            <li class="locations__working-item">
              <p class="locations__working-weekdays">Saturday - Sunday</p>
              <p class="locations__working-time">
                <time datetime="08:00">08:00 AM</time> -
                <time datetime="16:00">04:00 PM</time>
              </p>
            </li>
          </ul>
          <ul class="locations__contacts">
            <li>
              <a class="locations__contacts-item" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li>
              <a class="locations__contacts-item" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul class="locations__button-list">
        <li class="locations__button-item">
          <button
            data-modal="Locations"
            class="locations__button locations__button--accent js-open-modal"
            type="button"
          >
            Our Locations
            <svg width="10" height="11" class="locations__button-icon">
              <use href="./images/icons.svg#button-arrow"></use>
            </svg>
          </button>
        </li>
        <li class="locations__button-item">
          <button data-modal="Franchise" class="locations__button js-open-modal" type="button">
            Franchise
            <svg width="10" height="11" class="locations__button-icon">
              <use href="./images/icons.svg#button-arrow-accent"></use>
            </svg>
          </button>
        </li>
      </ul>

      <!-- modal Locations -->
      <div class="modal locations__modal js-modal" data-modal="Locations">
        <svg width="14" height="14" class="locations__modal-cross js-modal-close">
          <use href="./images/icons.svg#cross"></use>
        </svg>
        <p class="locations__modal-title">Our Locations</p>
        <div class="locations__modal-body">
          <iframe
            class="locations__map"
            src="https://www.google.com/maps/d/u/0/embed?mid=1ypkAuAFUThoQDrKhI9dGdNZtDU1rqRJW&ehbc=2E312F"
          ></iframe>
        </div>
      </div>

      <!-- modal Franchise -->
      <div class="modal locations__modal js-modal" data-modal="Franchise">
        <svg width="14" height="14" class="locations__modal-cross js-modal-close">
          <use href="./images/icons.svg#cross"></use>
        </svg>
        <p class="locations__modal-title">Franchise</p>
        <div class="locations__modal-body">
          <div>
            <h2 class="locations__franchise-title">
              Your dream was to open your own icecream cafe not run a franchise
            </h2>
            <p class="locations__franchise-text">
              But as the “anti-franchise” icecream franchise, we’re going to show you why you should
              stick around.
            </p>
          </div>
          <form class="locations__form">
            <h2 class="locations__form-title">
              Fill out the form to get access to all our franchise info
            </h2>
            <div class="locations__form-field">
              <label class="locations__form-label" for="name">Name *</label>
              <span class="locations__form-icon-wrapper">
                <input class="locations__form-input" type="text" name="name" id="name" />
                <svg width="18" height="18" class="locations__form-icon">
                  <use href="./images/icons.svg#person"></use>
                </svg>
              </span>
            </div>
            <div class="locations__form-field">
              <label class="locations__form-label" for="tel">Phone *</label>
              <span class="locations__form-icon-wrapper">
                <input class="locations__form-input" type="tel" name="tel" id="tel" />
                <svg width="18" height="18" class="locations__form-icon">
                  <use href="./images/icons.svg#phone"></use>
                </svg>
              </span>
            </div>
            <div class="locations__form-field">
              <label class="locations__form-label" for="mail">Email *</label>
              <span class="locations__form-icon-wrapper">
                <input class="locations__form-input" type="email" name="mail" id="mail" />
                <svg width="18" height="18" class="locations__form-icon">
                  <use href="./images/icons.svg#email"></use>
                </svg>
              </span>
            </div>
            <label class="locations__form-checkbox-label"
              >Contact me about IceCream Co.
              <input class="locations__form-checkbox-input" type="checkbox" name="policy" />
              <svg width="16" height="15" class="locations__form-checkbox-icon">
                <use href="./images/icons.svg#check"></use>
              </svg>
            </label>
            <button class="locations__button locations__button--accent" type="submit">
              Get info
              <svg width="10" height="11" class="locations__button-icon">
                <use href="./images/icons.svg#button-arrow"></use>
              </svg>
            </button>
          </form>
        </div>
      </div>

      <!-- Подложка под модальным окном -->
      <div class="overlay js-modal-overlay" id="overlay-modal"></div>
    </div>
  </div>
</section>
