<div class="modal js-modal" data-modal="Modal">
    <button type="button" class="modal__closeButton js-modal-close" data-modal="Modal">
        <svg class="modal__icon-cross" width="11" height="11">
            <use href="./images/icons.svg#cross"></use>
        </svg>
    </button>
    <b class="modal__title">Please provide your contact information</b>
    <form class="form">
        <label class="form__inputBox">
            <span class="form__inputTitle">Name</span>
            <input class="form__input" type="text" name="username">
        </label>
        <label class="form__inputBox">
            <span class="form__inputTitle">Email</span>
            <input class="form__input" type="email" name="email">
        </label>
        <label class="form__inputBox">
            <span class="form__inputTitle">Phone</span> 
            <input class="form__input" type="tel" name="user-phone" pattern="[0-9]{10}" title="0500505050">
        </label>
        <label class="form__inputBox">  
            <span class="form__inputTitle">Location</span>
            <select class="form__input form__selector" id="size" name="size">
                <option class="form__cityholder" value="cs" selected>Choose your city</option>
                <option class="cityholder" value="ny">New-York</option>
                <option value="cg">Chicago</option>
                <option value="m">Los-Angeles</option>
            </select>
        </label>
        <input class="form__checkbox" type="checkbox" id="check-policy" name="policy-check">
        <label class="form__agreement" for="check-policy">I accept the &nbsp; 
            <a class="form__agreementLink" href="#">Terms of agrement</a>
        </label>
        <button class="form__submit" type="submit">Order</button>
    </form>
</div>