<section id="products" class="product-section">
    <div class="product-box container">
        <div class="title-products">
            <p class="adv-title adv-title__for-main  ">100&#37; natural</p>
            <h2 class="adv-accent adv-accent__for-main">products</h2>
        </div>
        <ul class="product-list">
            <li class="product-list__ithem product-list__ithem--pink">
                <div class="product-list__box">
                    <h3 class="product-list__title product-list__product-icecream">ice cream</h3>
                    <p class="product-list__description ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et<span class="descript-hidden">. dolore magna aliqua facilisis.</span></p>
                    <button class="product-button"></button>
                </div>
            </li>
            <li class="product-list__ithem product-list__ithem--peach">
                <div class="product-list__box">
                    <h3 class="product-list__title product-list__product-icecoffee">ice coffee</h3>
                    <p class="product-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et<span class="descript-hidden">. dolore magna aliqua facilisis.</span></p>
                     <button class="product-button"></button>
                </div>
            </li>
            <li class="product-list__ithem product-list__ithem--green">
                <div class="product-list__box">
                    <h3 class="product-list__title product-list__product-milkshake">milkshakes</h3>
                    <p class="product-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et<span class="descript-hidden">. dolore magna aliqua facilisis.</span></p>            
                    <button class="product-button"></button>
                </div>
            </li>
        </ul>
    </div>
</section>