.slick-list {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .slick-list {
    width: 300px;
  }
}
@media screen and (min-width: 768px) {
  .slick-list {
    width: 720px;
  }
}
@media screen and (min-width: 1280px) {
  .slick-list {
    width: 1080px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slick__slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick__slider .slick-dots li {
  list-style: none;
}

.slick__slider .slick-dots li:not(:first-child) button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 50%;
  margin-right: 18px;
}

.slick__slider .slick-dots li.slick-active button {
  background-color: #d31342;
}

.slick__slider .slick-dots li:first-child button {
  font-size: 0;
  width: 13px;
  height: 12px;

  background-image: url(../images/home2.svg);
  background-size: cover;
  background-origin: padding-box;
  border: none;
  margin-right: 18px;
  background-color: transparent;
}

.slick__slider .slick-dots li.slick-active:first-child button {
  font-size: 0;
  width: 13px;
  height: 12px;

  background-image: url(../images/home.svg);
  background-size: cover;
  background-origin: padding-box;
  border: none;
  margin-right: 18px;
  background-color: transparent;
}
