.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  min-width: 161px;
  min-height: 44px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.32;

  border: none;
  border-radius: 22px;

  background-color: $clr-bg-the-lightest;
  color: $clr-accent;

  transition: background-color $transition-time $cubic, color $transition-time $cubic;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $clr-accent;
    color: $clr-bg-the-lightest;
  }
}
