.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.2);

  pointer-events: none;

  width: 600px;
  max-width: 95%;
  max-height: 100vh;
  padding: 15px;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 8px 30px rgba(212, 20, 67, 0.5);
  z-index: 20;
  visibility: none;
  opacity: 0;
  transition: transform $transition-time $cubic, visibility $transition-time $cubic,
    opacity $transition-time $cubic;

  &.is-show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.menu-modal {
  @media screen and (max-height: 600px) {
    width: 400px;
  }
}

.modal__closeButton {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 10px;
  right: 15px;

  width: 40px;
  height: 40px;

  cursor: pointer;

  background-color: transparent;

  border: none;
}

.modal__icon-cross {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;

  cursor: pointer;
  transition: fill $transition-time $cubic, transform $transition-time $cubic;

  &:hover,
  &:focus {
    fill: $clr-accent;
    transform: scale(1.5);
  }
}

.modal__title {
  display: block;
  margin: 20px 0;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.32;
  color: $clr-accent;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  visibility: hidden;
  opacity: 0;

  &.is-show {
    opacity: 1;
    visibility: visible;
    overflow-y: scroll;
  }
}

.is-hidden {
  overflow: hidden;
}

// -----------Ниже идут стили самой формы----------

.form {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 12px;

  @media screen and (min-width: 0px) and (max-width: 450px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.form__inputBox {
  display: block;
}

.form__inputTitle {
  display: block;
  padding-left: 15px;
  margin-bottom: 5px;

  @media screen and (max-height: 600px) {
    margin-bottom: 0;
    font-size: 12px;
  }
}

.form__input {
  padding: 10px 20px;
  display: block;
  width: 100%;
  background-color: $clr-brand;
  border-radius: 190px;
  border: $clr-bg-the-lightest 2px solid;

  margin-bottom: 30px;

  &:hover,
  &:focus {
    border: $clr-brand-darker 2px solid;
    cursor: pointer;
    outline: none;
    transition: $cubic 250ms;
  }

  .form__inputBox:hover &,
  .form__inputBox:focus & {
    border: $clr-brand-the-darkest 2px solid;
  }

  @media screen and (max-height: 600px) {
    margin-bottom: 10px;
    padding: 3px 9px;
  }
}

.form__cityholder {
  visibility: hidden;
}

.form__agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 32px;

  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: '';
    width: 23px;
    height: 23px;

    border: 2px solid $clr-brand;
    border-radius: 50%;

    margin-right: 7px;
  }

  @media screen and (min-width: 0px) and (max-width: 350px) {
    justify-content: left;
    font-size: 12px;
  }

  @media screen and (max-height: 600px) {
    font-size: 12px;
    margin-bottom: 15px;
  }
}

.form__checkbox {
  position: absolute;

  width: 1px;
  height: 1px;
  border: 2px;

  margin: -1px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:focus + .form__agreement::before {
    border: 2px solid $clr-brand-the-darkest;
  }

  &:checked + .form__agreement::before {
    background-color: $clr-brand-the-darkest;
    background-image: url(/images/circle.svg);
    background-size: 12px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.form__submit {
  padding: 15px 95px;
  border-radius: 190px;
  border: transparent;
  background-color: $clr-brand-darker;
  font-size: 24px;
  color: #fff;
  display: block;
  margin: 0 auto;

  &:hover,
  &:focus {
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: box-shadow $cubic 250ms;
  }

  @media screen and (min-width: 0px) and (max-width: 767px) {
    padding: 8px 50px;
    font-size: 16px;
  }

  @media screen and (max-height: 600px) {
    padding: 5px 25px;
    font-size: 16px;
  }
}
